{
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "auto",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@/", "^[.]"],
    "importOrderTypeScriptVersion": "6.0.0"
}
